@import '../../styles/variables.scss';

.matchesContainer {
  border-bottom: 3px solid $gold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #000, #1a1a1a);
  color: $gold;
  min-height: 100vh;
  margin: auto;
  text-align: center;
}

.title {
  font-size: 36px;
  color: $orange;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.protonClass {
  color: $gray;
  font-size: 20px;
  margin-bottom: 60px;
}

.filterContainer {
  display: flex;
  flex-direction: column; /* Ustawienie elementów jeden pod drugim */
  justify-content: center;
  align-items: center;
  gap: 20px; /* Dodanie przerwy między filtrami */
  width: 100%;
  max-width: 300px; /* Maksymalna szerokość dla kontenera filtrów */

  select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid $gold;
    background-color: $black;
    color: $gray;
    width: 100%;
    max-width: 100%; /* Filtry wypełniają pełną szerokość kontenera */
    box-sizing: border-box;
  }

  label {
    font-size: 18px;
    color: $gold;
  }
}

.kolejkaContainer {
  width: 100%;
  max-width: 1200px; /* Szerokość kontenerów dla normalnych ekranów */
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 60px;
}

.kolejkaTitle {
  font-size: 28px;
  margin-bottom: 20px;
  color: $orange;
  text-align: left;
  width: 100%;
}

.matchesList {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.mainInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px; /* Zwiększona szerokość sekcji meczu dla większych ekranów */
}

.matchItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px; /* Zwiększona szerokość kontenera meczu na normalnych ekranach */
  border: 2px solid $gold;
  padding: 30px;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: scale(1.02);
  }

  p {
    color: $gray;
    font-weight: bold;
  }
}

/* Nowy styl dla informacji o kliknięciu */
.clickToView {
  font-style: italic;
  color: $gray;
  margin-top: 15px;
  font-size: 14px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 120px;

  p {
    font-size: 18px;
    font-weight: bold;
    color: #ff8c00;
    text-align: center;
    margin-top: 10px;
  }
}

.teamLogo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.matchInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 150px;

  p {
    margin: 0;
    font-size: 18px;
  }

  .result {
    font-size: 24px;
    font-weight: bold;
    color: $orange;
    padding-top: 20px;
  }
}

/* Efekt płynnego rozwijania szczegółów */
.matchDetails {
  display: block;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transform: scale(0.95); /* Zmniejszenie na początek */
  transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease; /* Dodanie płynnej animacji */
  padding: 0; /* Ukrycie paddingu na początku */
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
}

/* Rozwinięcie szczegółów z animacją */
.matchItem.expanded .matchDetails {
  max-height: 1000px;
  opacity: 1;
  padding: 20px; /* Dodanie paddingu po rozwinięciu */
  transform: scale(1); /* Powiększenie do pełnego rozmiaru */
  transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease; /* Płynna animacja */
}

h4, h5 {
  font-size: 20px;
  color: $orange;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  padding: 0;

  li {
    margin-bottom: 10px;
    color: $gray;
    font-weight: bold;
  }
}

/* Styl RWD dla mniejszych ekranów */
@media (max-width: 768px) {
  .matchesList {
    gap: 25px;
  }

  .matchItem {
    max-width: 90%; /* Pełna szerokość na mniejszych ekranach */
    padding: 15px;
  }

  .mainInfo {
    max-width: 100%;
  }

  .teamLogo {
    width: 60px;
    height: 60px;
  }

  .team p {
    font-size: 14px;
  }

  .matchInfo {
    width: 100%;
  }

  .result {
    font-size: 16px;
  }

  .filterContainer {
    flex-direction: column;
    gap: 10px;
    select {
      max-width: 90%;
    }
  }
}

@media (max-width: 480px) {
  .matchesList {
    gap: 15px;
  }

  .matchItem {
    max-width: 90%;
    padding: 10px;
  }

  .teamLogo {
    width: 50px;
    height: 50px;
  }

  .team p {
    font-size: 12px;
  }

  .result {
    font-size: 14px;
  }

  .protonClass {
    font-size: 16px; /* Dalsze zmniejszenie opisu */
  }

  .filterContainer {
    margin-bottom: 20px;

    select {
      max-width: 100%;
      font-size: 20px;
    }
  }
}
