@import '../../styles/variables.scss';

.teamsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #000, #1a1a1a);
  color: $gold;
  min-height: 100vh;
  border-bottom: 3px solid $gold;

  .title {
    font-size: 36px;
    color: $orange;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  .protonClass {
    color: $gray;
    font-size: 20px;
    margin-bottom: 60px;
  }

  .teamsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trzy kolumny dla większych ekranów */
    gap: 20px;
    justify-items: center;
    margin-bottom: 60px;
    opacity: 0; /* Ukrywanie drużyn przed animacją */
    transform: translateY(30px); /* Początkowa pozycja */
    transition: opacity 0.8s ease, transform 0.8s ease; /* Animacja wejścia */
  }

  .teamsList.visible {
    opacity: 1; /* Widoczność po załadowaniu */
    transform: translateY(0); /* Powrót do normalnej pozycji */
  }

  .teamItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid $gold;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 180px;
    height: auto;

    &:hover {
      transform: scale(1.05);
    }

    .teamLogo {
      width: 100px;  /* Stała szerokość */
      height: 100px;  /* Stała wysokość */
      object-fit: cover;  /* Dopasowanie obrazów, przycięcie w razie potrzeby */
      margin-bottom: 10px;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .teamName {
      font-size: 18px;
      font-weight: bold;
      color: $orange;
      text-align: center;
      margin-top: 10px;
    }
  }

  /* Dodajemy media queries dla RWD */
  @media (max-width: 768px) {
    .teamsList {
      grid-template-columns: 1fr; /* Jedna kolumna dla średnich ekranów */
      justify-items: center;
    }
  }

  @media (max-width: 480px) {
    .teamsList {
      grid-template-columns: 1fr; /* Jedna kolumna dla małych ekranów */
      gap: 15px; /* Mniejsza przerwa między elementami */
    }

    .protonClass {
      font-size: 16px; /* Dalsze zmniejszenie opisu */
    }

    .teamItem {
      width: 100%; /* Pełna szerokość kontenera na małych ekranach */
      max-width: 300px; /* Maksymalna szerokość dla małych ekranów */
    }

    .teamLogo {
      width: 80px; /* Zmniejszona szerokość logo na małych ekranach */
      height: 80px;
    }

    .teamName {
      font-size: 16px; /* Zmniejszony rozmiar tekstu */
    }
  }
}
