@import '../../styles/variables.scss';

// Główny kontener
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, $black, #1a1a1a);
  text-align: center;
  overflow-x: hidden;
}

// Sekcja powitalna
.introSection {
  margin-bottom: 60px;
  color: $gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border-bottom: 3px solid $gold;

  .title, .subtitle, .ctaButton {
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeInUp 1s ease forwards;
  }

  .title {
    animation-delay: 0.2s;
    font-size: 48px;
    margin-bottom: 20px;

    .span {
      color: $orange;
    }
  }

  .subtitle {
    animation-delay: 0.5s;
    font-size: 22px;
    margin-bottom: 30px;
  }

  .ctaButton {
    animation-delay: 0.8s;
    padding: 15px 30px;
    font-size: 20px;
    background-color: $orange;
    color: $black;
    border: none;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;

    &:hover {
      transform: scale(1.1);
      background-color: darken($orange, 10%);
    }
  }

  @media (max-width: 768px) {
    height: auto;
    padding: 20px;

    .title {
      font-size: 32px;
    }

    .subtitle {
      font-size: 18px;
    }

    .ctaButton {
      font-size: 18px;
      padding: 10px 20px;
    }
  }
}

// Sekcja logotypów
.leagueSection {
  margin-top: 50px;
  text-align: center;
  color: $orange;

  .logosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
  }

  .clubLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    opacity: 0;
    transform: translateY(100px);
    animation: slideInUp 1.5s ease forwards;

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      transition: filter 0.3s ease, transform 0.3s ease;
      filter: brightness(0.7);
    }

    &:hover img {
      filter: brightness(1);
      transform: scale(1.1);
    }
  }

  @media (max-width: 768px) {
    .logosContainer {
      gap: 10px;
    }

    .clubLogo {
      width: 80px;

      img {
        width: 60px;
        height: 60px;
      }
    }
  }
}

// Animacje
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Sekcja z następnym i poprzednim meczem oraz licznikiem
.countdownSection {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 10px;
  color: #333;
  text-align: center;

  .matchContainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 40px;
    width: 100%;
    max-width: 1200px;
  }

  .nextMatch, .lastMatch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    border: 2px solid $gold;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    h3 {
      color: $orange;
      font-size: 22px;
      margin-bottom: 20px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .mainInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;

    p {
      color: $gray;
      font-weight: bold;
    }
  }

  .team {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 120px;

    p {
      font-size: 18px;
      font-weight: bold;
      color: $orange;
      margin-top: 10px;
    }
  }

  .teamLogo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .matchInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 150px;
    color: #333;

    .result {
      font-size: 24px;
      font-weight: bold;
      color: $orange;
      padding-top: 20px;
    }

    p {
      margin: 0;
      font-size: 18px;
    }
  }

  .countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;

    .timeBox {
      padding: 20px;
      border-radius: 10px;
      font-size: 24px;
      color: $orange;
      transition: transform 0.3s ease-in-out;

      span {
        font-size: 40px;
        display: block;
        margin-bottom: 5px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  @media (max-width: 768px) {
    .matchContainer {
      flex-direction: column;
      gap: 20px;
    }

    .lastMatch, .nextMatch {
      border: 1px solid #ffd700;
      padding: 10px;
      border-radius: 8px;
      text-align: center;
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
      min-height: 100px;

      h3 {
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }

      .teamLogo {
        width: 80px;
        height: 80px;
      }
    }

    .countdown {
      gap: 10px;
      padding: 5px;

      .timeBox {
        font-size: 16px;
        padding: 10px;
        span {
          font-size: 26px;
        }
      }
    }
  }
}

// Sekcja z aktualnościami
.newsSection {
  color: $gray;
  margin-top: 60px;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid $gold;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .newsContent {
    max-width: 1200px;
    text-align: center;
  }

  .title {
    font-size: 48px;
    margin-bottom: 20px;

    .span {
      color: $orange;
    }
  }

  .subtitle {
    font-size: 22px;
    margin-bottom: 60px;
    color: $gray;
  }

  .newsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 20px;

    .newsItem {
      border: 2px solid $gold;
      padding: 50px;
      border-radius: 10px;
      transition: transform 0.3s ease-in-out, background-color 0.3s ease;
      text-align: center;
      position: relative;

      &:hover {
        transform: scale(1.05);
      }

      h4 {
        font-size: 24px;
        color: $orange;
        margin-bottom: 15px;
      }

      p {
        font-size: 18px;
        color: $gray;
        margin-bottom: 30px;
      }

      .ctaButton {
        padding: 15px 30px;
        font-size: 20px;
        background-color: $orange;
        color: $black;
        border: none;
        border-radius: 8px;
        margin-top: 30px;
        transition: transform 0.3s ease, background-color 0.3s ease;

        &:hover {
          transform: scale(1.1);
          background-color: darken($orange, 10%);
        }
      }

      .fbLink {
        padding: 15px 30px;
        font-size: 20px;
        background-color: $orange;
        color: $black;
        border: none;
        border-radius: 8px;
        margin-top: 30px;
        transition: transform 0.3s ease, background-color 0.3s ease;

        &:hover {
          transform: scale(1.1);
          background-color: darken($orange, 10%);
        }
      }
    }
  }

  // Dostosowanie dla ekranów mniejszych niż 768px
// Dostosowanie dla ekranów mniejszych niż 768px
@media (max-width: 768px) {
  .newsContent {
    max-width: 100%;
    padding: 10px;
    text-align: center;
  }

  .title {
    font-size: 32px;
    margin-bottom: 10px;

    .span {
      color: $orange;
    }
  }

  .subtitle {
    font-size: 16px;
    margin-bottom: 20px;
    color: $gray;
  }

  .newsList {
    display: flex; // Dodajemy flexbox, aby ustawić elementy w kolumnie
    flex-direction: column; // Ustawiamy w kolumnie
    justify-content: center;
    align-items: center; // Środkowanie elementów w osi poziomej
    gap: 25px; // Odstępy między elementami
    margin-top: 10px;
    width: 100%; // Zapewnienie, że element nie będzie wychodził poza ekran
    margin-bottom: 20px;

    .newsItem {
      padding: 10px;
      width: 100%; // Szerokość na 90% ekranu, aby elementy nie wychodziły poza ekran
      max-width: 320px; // Maksymalna szerokość
      margin: 0 auto;
      border-radius: 6px;

      .spacer {
        height: 20px; /* Wysokość odstępu */
      }

      h4 {
        font-size: 16px;
        margin-bottom: 5px;
        margin-top: 0;
      }

      p {
        font-size: 12px;
        margin-bottom: 10px;
      }

      .ctaButton {
        padding: 8px 12px;
        font-size: 12px;
        
      }

      .fbLink {
        padding: 8px 12px;
        font-size: 12px;
      }
    }
  }
}
}
