@import '../../styles/variables.scss';

.tableContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
  color: $gray;
  min-height: 100vh;
  text-align: center;
  border-bottom: 3px solid $gold;
  overflow-x: auto; /* Dodajemy możliwość przewijania w poziomie */
}

.title {
  font-size: 36px;
  color: $orange;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.protonClass {
  color: $gray;
  font-size: 20px;
  margin-bottom: 60px;
}

.tableWrapper {
  width: 100%;
  overflow-x: auto; /* Dodajemy przewijanie poziome do tabeli */
}

.table {
  width: 100%;
  min-width: 800px; /* Minimalna szerokość tabeli */
  border-collapse: separate;
  border-spacing: 10px;
  border-radius: 12px;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.8s ease, transform 0.8s ease;
  margin-bottom: 50px;
}

.table.visible {
  opacity: 1;
  transform: translateY(0);
}

th, td {
  padding: 12px 15px;
  text-align: center;
  font-size: 12px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
}

th {
  background: $orange;
  color: $black;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

td {
  border-bottom: 1px solid $orange;
}

td:first-child {
  font-weight: bold;
  color: $orange;
}

td:last-child {
  font-weight: bold;
}

tr:hover td {
  background: rgba(255, 165, 0, 0.2);
  transform: scale(1.02);
}

.points {
  font-weight: bold;
  color: $orange;
}

/* Pozycje stałe dla pierwszych kolumn */
.sticky {
  position: sticky;
  left: 0;
  z-index: 1;
}

.sticky + .sticky {
  left: 0; /* Odstęp dla drugiej kolumny */
}

/* Styl RWD dla mniejszych ekranów */
@media (max-width: 768px) {
  .tableContainer {
    padding: 0 4px;
  }

  .table {
    max-width: 90%;
    overflow-x: auto;
  }

  th, td {
    padding: 8px;
    font-size: 10px;
  }

  .protonClass {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .tableContainer {
    padding: 0 3px;
  }

  .table {
    max-width: 100%;
    overflow-x: auto;
  }

  .table.visible {
    margin: 0 10px;
  }

  th, td {
    padding: 6px;
    font-size: 9px;
  }

  .protonClass {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  .tableContainer {
    padding: 0 2px;
  }

  .table {
    max-width: 100%;
    overflow-x: auto;
  }

  th, td {
    padding: 3px;
    font-size: 8px;
  }
}
